* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}


header {
    padding: 20px;
    text-align: center;
    background: #1e293b;
    border-bottom: 2px solid #3b82f6;
}

header h1 {
    font-size: 32px;
    color: #fff;
}


section {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #fff;
}

p {
    margin-bottom: 20px;
    max-width: 900px;
}


.team-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 30px;
}

.member {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    width: 260px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.member:hover {
    transform: translateY(-6px);
    background: #334155;
}

.member img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.member h3 {
    margin-bottom: 8px;
    color: #fff;
}

.role {
    color: #3b82f6;
    font-weight: bold;
    margin-bottom: 10px;
}

.info {
    display: none;
    background: #0f172a;
    padding: 15px;
    border-radius: 10px;
    margin-top: 12px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}

.member.active .info {
    display: block;
}

.team-experiences {
    margin-top: 40px;
    padding: 20px;
    background: #f3f4f6;
    border-radius: 10px;
}

.team-experiences h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3e2525;
}

.experience-item {
    margin-bottom: 15px;
}

.exp-btn {
    width: 100%;
    text-align: left;
    background: #2563eb;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.exp-btn:hover {
    background: #1e40af;
}

.exp-content {
    display: none;
    background: rgb(0, 0, 0);
    padding: 15px;
    margin-top: 5px;
    border-left: 4px solid #2563eb;
    border-radius: 6px;
    line-height: 1.5;
}


footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
    margin-top: 40px;
    border-top: 1px solid #334155;
}
